@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
//for chattr
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Quicksand');
.chattr {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 8em;
}

@font-face {
    font-family: 'mulilight';
    src: url('../../fonts/muli-light-webfont.woff2') format('woff2'),
         url('../../fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliregular';
    src: url('../../fonts/muli-webfont.woff2') format('woff2'),
         url('../../fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswalddemibold';
    src: url('../../fonts/oswald-demibold-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldextralight';
    src: url('../../fonts/oswald-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'butler_stencilextrabold';
    src: url('../../fonts/butler_bold_stencil-webfont.woff2') format('woff2'),
         url('../../fonts/butler_bold_stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'butler_stencillight';
    src: url('../../fonts/butler_light_stencil-webfont.woff2') format('woff2'),
         url('../../fonts/butler_light_stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}