
@font-face {
    font-family: 'kg_dancing_on_the_rooftopRg';
    src: url('../../fonts/kgdancingontherooftop-webfont.woff2') format('woff2'),
         url('../../fonts/kgdancingontherooftop-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'univers_57_condensedregular';
    src: url('../../fonts/univers-condensed-webfont.woff2') format('woff2'),
         url('../../fonts/univers-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
