$greytext: #ccc;
$gold: #cfb171;
$mainbgcolor: #999;
$plaintext:#fff;
$fonts:arial;
$navcolor: #b0b0b4;
$maincolor: #555555;
$purple: #333366;
$barelythere: #f8f8f8;
$portfolioback: #f0efef;
$laravel: #636b6f;
$coral: #ff674f;
$fire: #fe0b37;

$darkdustyrose:#693F44;

$deepvibrantpurple: #4e2e46;
$indigo: #471349;
// $blue: #275b65;
$blue: #1d334f;
$turquoise: #1e4d4e;
$deepblue: #1f3350;

// $fontfamilythin: "Acumin Pro Condensed", Acumin Pro Condensed;
$fontfamilythick:'butler_stencilextrabold';
 $fontfamilythin:'Reem Kufi', sans-serif;
 // $fontfamilythin:'oswaldextralight';
// $fontfamilythick: 'oswalddemibold';
// $fontfamilybody: 'mulilight';
$fontfamilybody: 'Reem Kufi', sans-serif;
$fontfamilybodythick:'Reem Kufi', sans-serif;
// $fontfamilybodythick: 'muliregular';
// $almostwhite: #f6f6f6;
$almostwhite: #dbdbdb;