.triangle {
	position:absolute;
	z-index:-1;
	// height: 1px;
	border-style: solid;
	border-width: 50vh 100vw 0 0 ;
	border-color: $deepblue  transparent transparent  transparent ;
	top:0;
	
}
#logo {
	width: 10em;
	padding: 2em;
	padding-top: 4em;
}

#headerBack {
	#heading {
		margin-top:5em;
		h1 {
			font-size: 3em;
			font-family:$fontfamilythick;
			color: $maincolor;
			text-align: right;
			margin-right: 1em;

		}
		h3 {
			font-family: $fontfamilythin;
			font-size: 1em;
			color: $maincolor;
			display:inline-block;
			padding: 1em 2em 1em 10em;
			// text-align: right;

		}
		h4 {
			font-family: $fontfamilythin;
			font-size: 1em;
			color: $maincolor;
			// display:inline-block;
			padding: 1em 2em 1em 10em;
		}
	}
}